.rss
{
  vertical-align: top; 
  width: 33%
}

.rssdiv
{
  border-style:solid;
  border-width:1px;
  border-color:gray;
}

.rssheader
{
  background-color: black;
  color: white;
}

#index {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	/*background-color: #fff;*/
	background-color: black;
}


#index #container {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}


#index #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#index #demo {
	margin: 30px auto 0 auto;
}

#index .demo_jui {
	margin: 30px auto 0 auto;
}

#index .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#index .spacer {
	height: 20px;
	clear: both;
}

#index .clear {
	clear: both;
}

#index pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#index h1 {
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#index h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#index a {
	color: #0063DC;
	text-decoration: none;
}

#index a:visited {
	color: gray;
	text-decoration: none;
}

#index a:hover {
	text-decoration: underline;
}

#index ul {
	color: #4E6CA3;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}

#index code {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 2px 4px !important;
	white-space: nowrap;
	font-size: 0.9em;

	color: #D14;
	background-color: #F7F7F9;

	border: 1px solid #E1E1E8;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
