* {
	margin: 0;
	padding: 0px;
}
html {
	background: #334248;
}

body {
	margin: 0;
	padding: 0;
	font: normal 1em/1.4em Tahoma, Verdana, Arial, Georgia, sans-serif;
	color: #7c7c7c;
	text-align: center;
	background: transparent url(line.jpg) repeat-y center top;
	height: 100%;
}

#container {
	margin: 0px auto;
	padding: 0;
	width: 780px;
	border: none;
	text-align: left;
	padding-bottom: 70px;
}

a, a:visited {
	text-decoration: none;
	color: #778D98;
	border-bottom: 1px dotted #ccc;
}

a:hover {
	text-decoration: none;
	color: #536F7B;
	border-bottom: 1px solid #ccc;
}

acronym {
	text-decoration: none;
	color: #D7661C;
	border-bottom: 1px dotted #ccc;
	cursor: help;
}

p {
	margin-bottom: 10px;
}

#quickSummary .p2 {
	padding-top: 220px;
	margin-left: 430px;
	font: normal 0.9em/0.9em Arial, Tahoma, Georgia, sans-serif;
	letter-spacing: -1px;
	color: #C3A176;
	text-transform: uppercase;
	width: 220px;
}

#linkList{
	position: absolute;
	left:auto;
	right:auto;
	top: 60px;
	margin-left: 480px;
	width: 196px;
	padding-left: 30px;
	height: 671px;
}

#linkList2{
	padding: 0;
	margin: 0;
	padding-bottom: 250px;
}

#linkList ul {
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#linkList ul li{
	margin: 0;
	padding: 3px 0 3px 10px;
	border-bottom: 1px solid #ECEFD7;
}

#linkList ul li a, #linkList ul li a:visited {
	border-bottom: none;
}

#linkList ul li a:hover {
	color: #A3B6BC;
}

#lselect {
	font-size: 0.9em; 
}

#lselect ul li {
	padding: 3px 0 3px 25px;
}

#lselect a {
	display: block;
	font-size: 1.1em;
	color: #A3B6BC;
}

#lselect a.c {
	display:inline;
	line-height:5px;
	margin:0;
	padding:0;
	font: normal 1.0em/0.9em Verdana, Arial, Tahoma, sans-serif;
	color: #B9B9B9;
	letter-spacing: -1px;
}

#preamble, #explanation, #participation, #benefits, #requirements{
	top: 20px;
	position: relative;
	left: 63px;
	color: #CCCCCC;
	width: 400px;
	padding-bottom: 29px;
	text-align: justify;
}

#preamble h3 {
	width: 340px;
	height: 38px;
}

#explanation h3 {
	width: 340px;
	height: 38px;
}

#participation h3 {
	width: 340px;
	height: 38px;
}

#benefits h3 {
	width: 340px;
	height: 38px;
}

#requirements h3 {
	background-image: url(requirements.jpg);
	background-repeat: no-repeat;
	background-position: left;
	width: 340px;
	height: 38px;
}

#lselect, #larchives {
	margin-bottom: 20px;
}

#lselect h3 {
	width: 196px;
	height: 40px;
}

#larchives h3 {
	width: 196px;
	height: 40px;
}

#lresources h3 {
	background-image: url(resources.jpg);
	background-repeat: no-repeat;
	background-position: left;
	width: 196px;
	height: 40px;
}

#footer{
	text-align: left;
	padding-left: 63px;
	padding-top: 250px;
}

#footer a, #footer a:visited {
	padding: 5px;
	border: 1px solid #f4f4f4;
	background-color: #fff;
}

#footer a:hover {
	padding: 5px;
	border: 1px solid #993300;
	background-color: #D94904;
	color: #fff;
}
